
<div class="home" >
<% if user_signed_in? %>
 <div class="after signin">
  <h1 align="center">Welcome <%= current_user.email.split('@')[0]  %></h1>
  <div class="button">
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
  </div>
  <div class="button">
  <%= link_to 'Generate API key',  api_v1_generateapikey_path %> 
  </div>      
 </div>
<% else %>
  <div class="before signin">
  <div class="button">
  <%= link_to('SignUp', new_user_registration_path) %> 
  <%= link_to('Signin', new_user_session_path) %>  
  </div>
<% end %>
</div>
</div>